#viewport {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

//=======================================================
//  PREVENT LONG HOLD CONTENXT MENU
//=======================================================
a {
  -webkit-user-select: none !important;
}
//=======================================================
//  Overwrite Default Tap Color
//=======================================================
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}