template(name="map")
  .map-wrapper
    .gradient
    #map
    .map-prevent-touch
    .map-list
      ul
        +each trashes
          li
            i.icon.marker
            span {{properties.name}}