template(name="page")
    //- +HammerTouchArea(gestureMap=gestures)
    .page-container
      // UI Components (Menu)
      .page-ui-components#ui-wrapper
        #upload-photo
          if currentUser
            input(type="file")
          button.btn.btn-primary 쓰레기 제보하기

      .page-wrapper
        +each Trashes
          .page-item
            //- .page-inner
            .page-main
              .img-wrapper
                img(src="{{imageUrl}}")
            .page-comments(data-scroll-speed="3")
              .comment-submit
                textarea(rows="3")
                //- button.btn-primary.btn-comment-submit
                  i.icon.plus
              h1  this is comment
              h1  this is comment
              h1  this is comment
              h1  this is comment