template(name="upload")
  .upload-container
    btn.btn.btn-primary.btn-cropper-close
      i.icon.remove
    .cropper-outer
      img.crop-target
    btn.btn.btn-primary.btn-upload-cropped
      | 쓰레기 제보하기