.img-wrapper {
  position: relative;
  width: 100vmin;
  height: 100vmin;

  margin-top: 1rem;

  // margin-top: ~"calc(50vh - 50vmin)";


  overflow: hidden;

  user-select: none;
  img {
    border-top: 1px solid RGBA(0, 0, 0, 0.05);
    border-bottom: 1px solid RGBA(0, 0, 0, 0.05);
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
  }
}