.map-container {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: RGBA(255, 190, 0, 0.8);

  pointer-events: none;

  opacity: 0;

  z-index: 9999;
}

#map {
  width: 100vw;
  height: 40vh !important;
}