#viewport {
  background: black;
}

// .swiper-wrapper
// Hoziontal Wrapper
.swiper-container {
  position: relative;

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

// .swiper-ui-components
// Wrap each swiper to viewport and enable scroll
.page-ui-components {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: 0;

  pointer-events: none;
  z-index: 999;
  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

// .swiper-wrapper
// Wrap each swiper to viewport and enable vertical scroll
.swiper-wrapper {
  // position: absolute;
  // top: 0;
  // left: 0;
  // // left: -100vw;

  // .translate(-100vw, 0);

  // width: 300vw;
  // height: 100vh;

  // white-space: nowrap;
  // display: flex;
  // .swiper-slide {
  //   position: absolute;
  //   top: 0;

  //   width: 100vw;
  //   height: 100vh;

  //   overflow-y: scroll;

  //   background: black;
  //   opacity: 1;

  //   z-index: 99;
  //   &:nth-child(1) {
  //     left: 0;
  //     background: red;
  //   }
  //   &:nth-child(2) {
  //     left: 100vw;
  //     background: darken(red, 10%);
  //   }
  //   &:nth-child(3) {
  //     left: 200vw;
  //     background: darken(red, 20%);
  //   }
  // }
}


.swiper-slide {
  overflow-y: scroll;
}

// .swiper-wrapper
// First main swiper
.page-main {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

// .swiper-comments
// Comments
.page-comments {
  position: absolute;
  top: 100vh;
  left: 0;

  color: white;

  width: 100vw;
  height: auto;
}