.splash-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: @brand-primary;
}

.splash-container .splash-inner {
  position: absolute;

  top: 50%;
  left: 50%;
  .translate(-50%, -50%);
  z-index: 2;
}

.splash-container .stripe {
  position: absolute;

  left: 0;
  bottom: 0;

  content: ' ';

  width: 100vw;
  height: 30vh;

  // transform: rotate(45deg);
  z-index: 1;

  background: lighten(#009911, 10%);
}

.splash-container img.logo {
  width: 100%;
}

.splash-container img.halbe {
  display: block;
  width: 80vmin;
  height: auto;

  margin-top: -4rem;
}

.splash-container img.bullet {
  position: absolute;

  display: block;
  opacity: 0;

  width: 20vmin;
  height: 20vmin;

  margin-left: -10vmin;
  margin-top: -10vmin;
}
